html {
    background-color: #0a0c10;
}

p {
    font-family: Arial;
    color: whitesmoke;
}

h1 {
    font-family: Arial;
    color: whitesmoke;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.h11 {
    font-family: Arial;
    color: #1d4da4;
    text-align: center;
}

.image {
   /* -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4)); */
   margin: 0px auto 0 auto; 
    -webkit-box-reflect:below -1px
    -webkit-gradient(linear, left top, left bottom, from(transparent),
    color-stop(55%, transparent) , to(rgba(250, 250, 250, 0.5)));
}

img {
    border: solid 8px black;
}

h2 {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 32px;
}

h6 {
    color: transparent;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image:url(../images/Smug_asuka.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100% auto;
    width: 100% auto;
    padding: auto;
}

button {    /* Another ported shitty mess. This is like the 10th port lol. */
    border: 0px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: transparent;
}

a {
    font-family: Arial;
    color: white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.centre-text {
    text-align: center;
}

/* Port from Intranet Project */
.announcement-box {
    background-color: lightskyblue;
    padding: 5px;
    color: black;
}

.peom {
    font-size: larger;
    font-family: Arial;
    color: aqua;
}

.announcement-warning {
    background-color: lightyellow;
    padding: 5px;
    color: black;
}

.announcement-comment {
    background-color: lightgreen;
    padding: 5px;
    color: black;
}

.eng {
    color: coral;
}

.chanson {
    font-size: larger;
    font-family: Arial;
    color: yellow;
}