#theheader {
    text-align: center;
}

#bottom_bar {
    text-align: left;
}

html {
    background-color: black;
}

h1 {
    color: white;
    font-family: Arial;
}

h2 {
    color: white;
    font-family: Arial;
}

p {
    color: white;
}

a {
    background-color: white;
    border: 2px solid black;
    color: blue;
    padding: 0.1%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#bottom_bar2 {
    text-align: center;
}

img {
    border: 6px solid black;
}

#CSSStandardsMyAss {
    width: 80%;
    background-color: #2a2a2d;
    margin: auto;
    border: 2px solid white;
}

#bottom {
    width: 80%;
    background-color: black;
    margin: auto;
}
